form(action="/tasks" method="post" class='create-task-form' autocomplete="off")
  input(type='hidden' name='_csrf' value=csrfToken)
  +field('New Task', 'content', task.content)
  label Due Date
  input(type='date', value=task.dueDate, name='dueDate' class='date-field')
  label Priority
  input(type='checkbox' name='priority')
  +field('Git Repo Link', 'gitRepoLink', task.gitRepoLink)
  +field('Location', 'location', task.location)
  select(name="listId")
    option(value='noList') No List
    each list in lists
        option(value=list.id) #{list.name}
  button(type='submit') Add Task