.header-display {
  display: flex;
  justify-content: end;
  padding: 1em 0;
}


.main-display {
  display: grid;
  font-size: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  line-height: 1.5em;
}

.hidden {
  display: none;
}

.top-display {
 display: inline-flex;
 flex-grow: 3;
}
/* .first-box {
  display: flex;
} */

.create-task {
  display: inline-flex;
}

.second-box {

}

.create-task-form {
  display: inline-flex;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(238, 230, 230) 1px solid;
  padding: .25em 0;
}

.task-item:hover {
  background-color: rgb(250, 250, 250);
  cursor: grab;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(238, 230, 230) 1px solid;
  padding: .25em 0;
}

.list-item:hover {
  background-color: rgb(250, 250, 250);
  cursor: grab;
}

.done-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-summary-title {
  font-size: .5em;
  font-weight: bold;
}

.done-label {
  font-size: .75em;
}

.column-titles {
  font-size: 2em;
  text-align: center;
}

.task-form {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 500px;
}

.task-form input {
  border: solid 1px transparent;
}

.task-form input:hover {
  border-radius: 2px;
  border: gray solid 1px;
}

.input-label-field {
  margin: 10px;
}

.button-container {
  margin: 40px;
  display: flex;
  width: 100%;
  align-items: space-evely;
}

.box {
  margin: 0 2em;
}

.third-box {

}

.fourth-box {

}